@keyframes blinker {
    50% { opacity: 0; }
}

.blink {
    animation: blinker 1.5s linear infinite;
}

.primary_color_svg {
    fill: white;
}
.secondary_color_svg {
    fill: #CBCBCB;
}
.accent_color_svg {
    fill: #FFCC00;
}

::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra */
    height: 10px; /* Altura de la barra */
}

::-webkit-scrollbar-track {
    background-color: #151515; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d; /* Color del thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFCC00; /* Color del thumb al pasar el mouse */
}