@keyframes blinker {
    50% { opacity: 0.5; }
}

.blink1_5 {
    animation: blinker 1.5s linear infinite;
}

.blink2 {
    animation: blinker 2s linear infinite;
}

.icono {
  fill: white; /* Color blanco por defecto */
  transition: fill 0.3s; /* Transición suave para el cambio de color */
}
.icono:hover {
    fill: blue; /* Cambia a azul cuando pasas el ratón por encima */
}

::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra */
    height: 10px; /* Altura de la barra */
}

::-webkit-scrollbar-track {
    background-color: #151515; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d; /* Color del thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFCC00; /* Color del thumb al pasar el mouse */
}